debug
release
qmake_resources.qrc
Makefile
x86_64
aarch64
armhf
amd64

credentials.zip
*.lock.yml
.conf/qt6-enterprise/

#Build directories
build-*
#But the build yaml file from ci/cd need to be included
!.github/workflows/build-*

.conf/.depok
.conf/.docok
.store-*
