name: Sanity Check
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  spell-check:
    runs-on: ubuntu-latest
    container:
      image: node:18
    name: Spell Check
    steps:
      - uses: actions/checkout@v3

      - name: cspell CLI Lint

        shell: bash

        run: |
          npm install git+https://github.com/streetsidesoftware/cspell-cli
          npx cspell-cli lint --relative


  check-eof-new-line:
    runs-on: ubuntu-latest
    container:
      image: torizonextras/torizon-dev:dev
      options: --user root
    name: Check EOF New Line
    steps:
      - uses: actions/checkout@v3

      - name: Check EOF New Line

        shell: bash

        run: |
          /home/torizon/.local/bin/xonsh ./scripts/valid-new-line.xsh
